/* .graphic_news .graphic_news_image {
    
} */
:root {
    --main-width: 1280px;
    --all-margin-top: 48px;
    --menu_1-display: flex;
    --menu_2-display: none;
    --logo-width: 15%;
    --subscribe-width: 25%;
    --S1-mid-bottom-display: flex;
    --S1-mid-width: 50%;
    --S1-flex-flow: row nowrap;
    --S1-height: 651px;
    --S1-mid-height: 100%;
    --S1-right-height: 100%;
    --S1-right-width: 25%;
    --S1-right-editor-width: 100%;
    --S1-right-other-display: flex;
    --S1-right-other-width: 100%;
    --S1-right-other-height: 70%;
    --S1-right-newspaper-display: none;
    --S1-right-editor-newspaper-display: none;
    --S1-right-editor-margin-left: 5%;
    --S1-right-editor-News-container-flex-wrap: nowrap;
    --S1-mid-top-height: 65%;
    --S1-left-display: flex;
    --S2-graphic-width: 75%;
    --S2-graphic_news-height: 355px;
    --S3-display: flex;
    --S5-height: 256px;
    --S5-comment-width: 25%;
    --S5-comment-height: 120px;
    --S6-text-display: block;
    --S6-image-width: 40%;
    --S6-image-margin-top: -50px;
    --S7-height: 545px;
    --S7-flex-flow: row nowrap;
    --S7-title-width: 15%;
    --S7-title-height: 100%;
    --S7-supplement-height: 519px;
    --S7-supplement-width: 42.5%;
    --S8-height: 1053px;
    --S8-newest-width: 50%;
    --S8-newest-height: 180px;
    --S9-pod-width: 25%;
    --S9-pod-height: 400px;

}

@media screen and (min-width:1279px) {
    .logo_img {
        width: 100%;
    }
}

@media screen and (max-width:1279px) and (min-width:1024px) {
    :root {
        --main-width: 992px;
        --S1-mid-width: 75%;
        --S1-left-display: none;
    }

    .logo_img {
        width: 100%;
    }

}

@media screen and (max-width:1023px) and (min-width:768px) {
    :root {
        --main-width: 736px;
        --S1-mid-width: 100%;
        --S1-flex-flow: row wrap;
        --S1-height: 845px;
        --S1-mid-height: 53%;
        --S1-right-height: 50%;
        --S1-right-width: 552px;
        --S1-mid-top-height: 100%;
        --S1-right-newspaper-display: block;
        --S1-right-other-display: none;
        --S1-left-display: none;
        --S1-mid-bottom-display: none;
        --S1-right-editor-margin-left: 0%;
        --S2-graphic-width: 100%;
        --S3-display: none;
        --S5-height: 330px;
        --S5-comment-width: 50%;
        --S5-comment-height: 120px;
        --S7-title-width: 100%;
        --S7-title-height: 53px;
        --S7-flex-flow: row wrap;
        --S7-height: 429px;
        --S7-supplement-height: 307px;
        --S7-supplement-width: 50%;
        --S9-pod-width: 50%;
        --S9-pod-height: 628px;
    }

    .logo_img {
        width: 100%;
    }

    .S1 .mid .cover_mid_bottom,
    .S2:before,
    .S2 .newspaper {
        display: none;
    }

    .cover_right_newspaper {
        background-color: rgb(27, 60, 193);
        width: 184px;
        height: 354.9px;
    }

    .S7_title {
        margin-bottom: 0px;
    }

}

@media screen and (max-width:767px) {
    :root {
        max-width: 100%;
        --menu_1-display: none;
        --menu_2-display: flex;
        --logo-width: 70%;
        --subscribe-width: 30%;
        --all-margin-top: 0px;
        --S1-flex-flow: row wrap;
        --S1-height: 1233px;
        --S1-left-display: none;
        --S1-mid-width: 100%;
        --S1-mid-height: 30%;
        --S1-mid-top-height: 100%;
        --S1-mid-bottom-display: none;
        --S1-right-height: 70%;
        --S1-right-width: 100%;
        --S1-right-editor-width: 75%;
        --S1-right-editor-newspaper-display: block;
        --S1-right-other-display: none;
        --S1-right-editor-News-container-flex-wrap: wrap;
        --S2-graphic_news-height: 100%;
        --S2-graphic-width: 100%;
        --S3-display: none;
        --S5-height: 560px;
        --S5-comment-width: 100%;
        --S5-comment-height: 117px;
        --S6-text-display: none;
        --S6-image-width: 95%;
        --S6-image-margin-top: 0px;
        --S7-height: 900px;
        --S7-title-width: 100%;
        --S7-title-height: 53px;
        --S7-flex-flow: row wrap;
        --S7-supplement-height: 378px;
        --S7-supplement-width: 100%;
        --S8-height: 1396px;
        --S8-newest-width: 100%;
        --S8-newest-height: 130px;
        --S9-height: 2080px;
        --S9-pod-height: 25%;
        --S9-pod-width: 100%;
    }

    .logo_img {
        height: 100%;
    }

    .S1 .mid .cover_mid_bottom,
    .S2:before,
    .S2 .newspaper,
    .S2 .graphic .context-box__title {
        display: none;
    }

    .S6 .S7_title {
        margin-bottom: 0px;
    }

    .S6 .image {
        margin-left: 16px;
    }

    .all_container {
        display: contents;
    }
}

html {
    font-family: Noto Sans TC, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.15;
}

body {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    /* background: var(--background-color); */
}

.promotion {
    background-color: rgb(7, 235, 252);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion img {
    height: 100%;
}

/* all_header */
.all_header {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    width: var(--main-width);
}

/* all_header */
.all_container {

    width: var(--main-width);
    height: auto;
}

/* menu_2 */
.menu_2 {
    display: var(--menu_2-display);
    background-color: rgb(154, 136, 114);
    height: 100px;
    width: var(--main-width);
    justify-content: space-between;
    align-items: center;
}

.all_header .logo {
    width: var(--logo-width);
    display: flex;
    align-items: center;
}

.all_header .logo a {
    display: flex;
    align-items: center;
}

.all_header .menu {
    display: var(--menu_1-display);
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.all_header .subscribe {
    background-color: crimson;
    width: var(--subscribe-width);
}

/* context-box__title */
.context-box__title {
    color: rgb(70, 70, 70);
    font-size: 30px;
    line-height: 40px;
    padding-left: 0;
    width: 100%;
    height: 40px;
}

/* context-box__title white*/
.white {
    color: white;
}

/* Section 1 */
.S1 {
    width: var(--main-width);
    height: var(--S1-height);
    display: flex;
    flex-flow: var(--S1-flex-flow);
}

.S1 .left {
    display: var(--S1-left-display);
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.S1 .left .cover_left_text,
.cover_mid_bottom_title {
    width: 95%;
    font-size: 40px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.S1 .cover_left_other_title,
.editor_News_title,
.cover_right_other_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;

}

.S1 .mid {
    width: var(--S1-mid-width);
    height: var(--S1-mid-height);
}

.S1 .mid .cover_mid_top {
    width: 100%;
    height: var(--S1-mid-top-height);
}

.S1 .mid .cover_mid_bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.S1 .mid .cover_mid_top_text {
    width: 95%;
    position: relative;
    bottom: 30%;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.15;
    padding-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.S1 .mid .cover_mid_bottom {
    display: var(--S1-mid-bottom-display);
    width: 100%;
    height: 35%;
}

.S1 .mid .cover_mid_bottom_container {
    width: 57%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.S1 .right {
    width: var(--S1-right-width);
    height: var(--S1-right-height);
}

.S1 .cover_right_top {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
}

.S1 .cover_right_editor_News {
    width: var(--S1-right-editor-width);
    height: 100%;
    margin-left: var(--S1-right-editor-margin-left);
}

.S1 .editor_News_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.S1 .cover_right_editor_News_container {
    display: flex;
    flex-wrap: var(--S1-right-editor-News-container-flex-wrap);
}

.S1 .cover_right_editor_newspaper {
    display: var(--S1-right-editor-newspaper-display);
    background-color: rgb(27, 60, 193);
    width: calc(100% - var(--S1-right-editor-width));
}

.S1 .cover_right_other {
    display: var(--S1-right-other-display);
    flex-direction: column;
    width: var(--S1-right-other-width);
    height: var(--S1-right-other-height);
}

.S1 .cover_right_newspaper {
    display: var(--S1-right-newspaper-display);
    background-color: rgb(27, 60, 193);
    width: 184px;
    height: var(--S1-right-height);
}

/* Section 2 */
.S2 {
    width: var(--main-width);
    height: 455px;
    display: flex;
    flex-flow: row nowrap;
}

.S2:before {
    background-color: gray;
    content: "";
    left: -10vw;
    width: 110vw;
    height: 455px;
    position: absolute;
    z-index: -1;
}

.S2 .graphic {
    width: var(--S2-graphic-width);
    height: 455px;
}

.S2 .graphic_news {
    display: var(--S1-mid-bottom-display);
    width: 100%;
    height: 35%;
}

.S2 .graphic_news_container {
    width: 57%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.S2 .graphic .graphic_news {
    background-color: rgb(255, 94, 0);
    width: 100%;
    height: var(--S2-graphic_news-height);
}

.S2 .newspaper {
    width: 25%;
    height: 455px;
}

.S2 .newspaper .newspaper_news {
    background-color: rgb(161, 61, 3);
    width: 100%;
    height: 355px;
}


/* Section 3 */
.S3 {
    width: var(--main-width);
    height: 410px;
    display: var(--S3-display);
    flex-flow: row wrap;
    margin-top: var(--all-margin-top);
}

.S3 .left {
    background-color: aqua;
    width: 75%;
    height: 310px;
}

.S3 .right {
    background-color: rgb(47, 156, 156);
    width: 25%;
    height: 310px;
}

.S3 .right .S3_news {
    background-color: rgb(23, 106, 106);
    width: 302px;
    height: 310px;
}

/* Section 4 */
.S4 {
    width: var(--main-width);
    height: 545px;
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--all-margin-top);
}

.S4:before {
    background-color: gray;
    content: "";
    left: -10vw;
    width: 110vw;
    height: 545px;
    position: absolute;
    z-index: -1;
}

.S4 .reader {
    background-color: rgb(223, 72, 168);
    width: 50%;
    height: 405px;
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
}

/* Section 5 */
.S5 {
    width: var(--main-width);
    height: var(--S5-height);
    display: flex;
    flex-flow: row wrap;
    margin-top: 0px;
}

.S5 .comment {
    background-color: bisque;
    width: var(--S5-comment-width);
    height: var(--S5-comment-height);
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
}

/* Section 6 */
.S6 {
    width: var(--main-width);
    height: 545px;
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--all-margin-top);
}

.S6:before {
    background-color: rgb(175, 3, 3);
    content: "";
    left: -10vw;
    width: 110vw;
    height: 545px;
    position: absolute;
    z-index: -1;
}

.S6 .context {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.S6 .text {
    display: var(--S6-text-display);
    background-color: rgb(223, 72, 168);
    width: 60%;
    height: 375px;
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
}

.S6 .image {
    background-color: rgb(223, 72, 168);
    width: var(--S6-image-width);
    height: 375px;
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
    margin-top: var(--S6-image-margin-top);
}

/* Section 7 */
.S7_1,
.S7_2 {
    width: var(--main-width);
    height: var(--S7-height);
    display: flex;
    flex-flow: var(--S7-flex-flow);
    margin-top: 48px;
}

.S7_1:before {
    background-color: blue;
    content: "";
    height: 6px;
    width: 138px;
    position: absolute;
    z-index: -1;
}

.S7_2:before {
    background-color: red;
    content: "";
    height: 6px;
    width: 138px;
    position: absolute;
    z-index: -1;
}

.S7_title {
    color: rgb(70, 70, 70);
    font-size: 30px;
    line-height: 0px;
    padding-left: 0;
    width: var(--S7-title-width);
    height: var(--S7-title-height);
    margin-bottom: 0;
}

.supplement {
    background-color: bisque;
    width: var(--S7-supplement-width);
    height: var(--S7-supplement-height);
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
}

/* Section 8 */
.S8 {
    width: var(--main-width);
    height: var(--S8-height);
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--all-margin-top);
}

.S8:before {
    background-color: gray;
    content: "";
    left: -10vw;
    width: 110vw;
    height: var(--S8-height);
    position: absolute;
    z-index: -1;
}

.S8 .newest {
    background-color: rgb(223, 72, 168);
    width: var(--S8-newest-width);
    height: var(--S8-newest-height);
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
}

/* Section 9 */
.S9 {
    width: var(--main-width);
    height: var(--S9-height);
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--all-margin-top);
    margin-bottom: 70px;
}

.S9 .pod {
    background-color: bisque;
    width: var(--S9-pod-width);
    height: var(--S9-pod-height);
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    border-width: medium;
    border-style: dashed;
}

.footer {
    height: 252px;
    width: 100%;
    background-color: black;
}