@media(min-width: 150px) {

header {
    background-color: rgb(147, 172, 198);
    display: flex;
    flex-wrap: wrap;    
}

h1{
    margin-left: 1%;
}

/* header button {
    display: table;
    flex-wrap: wrap;
    text-align: center;
    height: 25px;
    cursor:pointer;
} */

table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
}

.tableContainer {
    margin: 0 auto;
    margin: 0 auto;
    width: 100%;
    display: block;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    height: 40px;
    width: 100%;
}

th {
    background-color: rgb(116, 153, 168);
    border: 1px solid whitesmoke;
    color: black;
}

td {
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(245, 243, 243);
    color: black;
}

#delete{
    height: 25px;       
    margin-top: 10px;
    margin: 4px;
    cursor:pointer;
}

input {
    height: 20px;       
    margin-top: 10px;
}

button {
    margin: 2px;
    cursor:pointer;
}

#addbutton{
    height: 20px;       
    margin-top: 10px;
}

}