body{
    margin: 0 auto;
}

input{
    width: 75%;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 12px;
    margin-bottom: 12px;
    min-height: 70px;
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    background-color: rgb(221, 239, 237);
    box-sizing: border-box;
}

.btn {
    outline: none;
    height: 45px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    background-color: rgb(190, 222, 220);
    width: calc((100%-24px) / 4);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    max-width: 200px;
    margin: 8px;            /* = gap: 8px;  */
    box-sizing: border-box;
    border-radius: 25px;
    cursor:pointer;
}

.clear{
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    box-sizing: border-box;
}

.button_clear {
    outline: none;
    border-radius: 25px;
    background-color: rgb(103, 143, 143);
    color: rgb(0, 10, 10);
    height: 45px;
    width: calc(100%/2);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    max-width: 416px;
    margin: 8px; 
    box-sizing: border-box;
    cursor:pointer;
}

.button_back {
    padding: 5px;
    outline: none;
    border-radius: 25px;
    background-color: rgb(103, 143, 143);
    color: rgb(0, 10, 10);
    height: 45px;
    width: calc(100%/2);
    font-size: 24px;
    font-weight: bold;
    max-width: 416px;
    margin: 8px; 
    box-sizing: border-box;
    cursor:pointer;
}

.row{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}