html {
    line-height: 1.15;
}
/* 圖解新聞 */
.graphic-news {
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    width: 70%;
    height: 100%;
    margin-top: 40px;
    position: relative;
    /* text-align: center; */
    display: block;
}
/* 標題區塊 */
.graphic-news .context-box_header {
    border: 1px solid gray;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    font-size: 16px;
    height: 39px;
    line-height: 18.4px;
    margin: 40px 0px 24px 0px;
}
/* 標題字 */
.graphic-news .context-box_title {
    box-sizing: border-box;
    color: rgb(158, 158, 158);
    display: block;
    text-align: center;
    font-size: 30px;
    height: 39px;
    line-height: 30px;
    margin: 0px;
    position: relative;
}
.story-list_news {
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
    /* height: 310px; */
    line-height: 18.4px;
    /* margin-bottom: 42px; */
    position: relative;
}
/* 圖片 */
.story-list_image {
    border: 1px solid greenyellow;
    width: 465px;
}
/* 文章標題內容區塊 */
.story-list_text {
    border: 1px solid brown;
    box-sizing: border-box;
}
/* 文章標題字 */
.story-list_title {
    /* border: 1px solid black; */
    box-sizing: border-box;
}
a {
    box-sizing: border-box;
    background-color: transparent;
    color: black;
    font-size: 30px;
}
/*  */
/* 今日報紙 */
/*  */
.newspaper-news {
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    width: 30%;
    height: 100%;
    /* margin-top: 40px; */
    text-align: center;
    position: relative;
    float: left;
    box-sizing: border-box;
    /* left: 70%; */
}
.newspaper-news_wrapper {
    box-sizing: border-box;
    width: 100%;
    display: block;
    position: relative;
}
/* .context-box_header */
.context-box_title {
    box-sizing: border-box;
    color: rgb(158, 158, 158);
    display: block;
    font-size: 30px;
    height: 39px;
    line-height: 30px;
    margin: 0px;
    position: relative;
}
/* .newspaper-news_image */

/*  */
/* 國際 財經 */
/*  */
.section-news {
    display: block;
    box-sizing: border-box;
    margin-top: 40px;
}
/* .context-box_header */
.section-news .context-box_header .context-box_title a {
    color: #9E9E9E;
    line-height: 39px;
}
/* 國際 財經 區塊 */
.section-news_wrapper {
    display: flex;
    margin-bottom: 48px;
    box-sizing: border-box;
}
/* 左側 */
.story-list_news.section-news_left {
    width: 75%;
}
.story-list_news.section-news_left .section-news .story-list_image {
    width: 55%;
}
.section-news .section-news_wrapper .story-list_text {
    float: left;
}
/* 世界鏡頭 文章標題 */
.story-list_text .story-list_title {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    margin-top: 16px;
}
/* 主題小標 */
.story-list_news.section-news_left .story-list_sub {
    display: flex;
}
/* 文章標題 */
.story-list_news.section-news_left .story-list_subtitle {
    position: relative;
}
/* 文章內容 */
.story-list_subtext {
    position: relative;
}
/* 右側 */
.story-list_news.section-news_right {
    width: 25%;
    position: relative;
    display: flex;
}
.story-list_news.section-news_right .section-news .story-list_image {
    width: 100%;
}
/* .story-list_text
.story-list_title */
/* 主題小標 */
.story-list_news.section-news_right .story-list_sub {
    display: flex;
}
/* 文章標題 */
.story-list_news.section-news_right .story-list_subtitle {
    position: relative;
}
/*  */
/* 領讀人 */
/*  */
/* 領讀人區塊 */
.leader-reader {
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
}
/* 領讀人標題字 */
.leader-reader .context-box_header {
    /* margin-top: 56px; */
    /* margin-bottom: 25px; */
    display: flex;
}
/* .context-box_title */
.leader-reader_wrapper {
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
    display: block;
}
.splide_list {
    display: flex;
    box-sizing: border-box;
}
/* 領讀人左右區 */
.splide_splide.leader-reader_box {
    margin-right: 40px;
    width: 620px;
}
/* 領讀人左區左半部 */
.author-list.leader-reader_left {
    max-width: 193px;
    width: 25%;
    position: relative;
}
/* 人物照片 區塊 */
.author-list_image {
    display: block;
    border-radius: 50%;
    width: 100%;
}
/* 人物照片 */
.author-list_image img {
    border-radius: 50%;
}
/* 姓名 職稱 區塊 */
.author-list_wrapper {
    box-sizing: border-box;
    width: 67%;
}
/* 姓名 職稱 */
.author-list.leader-reader_left .author-list_info {
    box-sizing: border-box;
    display: block;
}
/* .author-list_name */
/* .author-list_position */
.author-list.leader-reader_left .author-list_title {
    box-sizing: border-box;
    display: block;
    /* float: left; */
}
/* 領讀人左區右半部 */
.leader-reader_right {
    max-width: 403px;
    width: 75%;
    box-sizing: border-box;
    position: relative;
    /* 高度還沒對齊 */
    left: 33%;
}
/* .story-list_news.leader-reader_sub */
/* .leader-reader_right .story-list_image */
/* .leader-reader_right .story-list_text */
/* .leader-reader_right .story-list_title */
/* .leader-reader_right .story-list_sub */
/*  */
/* 評論 */
/*  */
.comment {
    width: 100%;
}
.comment-content {
    width: 100%;
    display: flex;
}
.comment .comment-content .author-list {
    border: 1px solid #9E9E9E;
    width: 25%;
    /* float: left; */
}
.author-list_image {
    width: 100%;
}
.author-list_wrapper {
    box-sizing: border-box;
    width: 67%;
}
.author-list_info {
    box-sizing: border-box;
    display: block;
    float: left;
}
.author-list_title {
    box-sizing: border-box;
    display: block;
    float: left;
}
/*  */
/* 聯合副刊 | 閱讀 */
/*  */
.supplement-content {
    padding-bottom: 46px;
    padding-top: 46px;
    box-sizing: border-box;
    display: block;
    background-color: #cb2528;
}
.container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.context-box_header {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
    box-sizing: border-box;
}
.supplement-content .context-box_header .context-box_title {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;

    color: #fff;
    font-size: 30px;
    line-height: 39px;
    padding-left: 0;
}
.supplement-content_wrapper {
    display: flex;
    /* height: 375px; */
    justify-content:center;
    box-sizing: border-box;
}
.supplement-content_left {
    align-items: center;
    background-color: #fff;
    height: 100%;
    justify-content: center;
    /* max-width: 785px; */
    width: 100%;
    box-sizing: border-box;
}
/* 正文內容 */
.supplement-content_description {
    /* max-width: 665px; */
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.supplement-content_text {
    color: #232323;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.supplement-content_title {
    color: #9E9E9E;
    font-size: 32px;
    line-height: 41.6px;
    margin-bottom: 0;
    margin-top: 24px;
    box-sizing: border-box;
    display: block;
}
.supplement-content_image {
    bottom: 23px;
    margin: 0 auto;
    position: relative;
}
/*  */
/* 軍武科技 發燒話題 */
/*  */
.secondary-content {
    box-sizing: border-box;
    display: block;
    /* margin-top: 72px; */
}
.container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
.technology-content {
    width: 100%;
    display: flex;
}
.context-box_header {
    width: 20%;
}
.context-box_title
.technology-content_list {
    display: flex;
    box-sizing: border-box;
}
.story-list__news {
    border: 1px solid red;
    /* margin-left: 24px; */
    /* width: 519px; */
    width: 40%;
    display: flex;
    /* position: relative; */
    box-sizing: border-box;
}
.story-list_image {
    display: block;
}
.story-list__text {
    display: flex;
}
.story-list__title {
    display: block;
    margin: 24px 0;
    box-sizing: border-box;
}
/*  */
/* 最新文章 */
/*  */
.section-newest {
    background-color: #f5f5f5;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: block;
}
.section-newest .container {
    width: 100%;
    display: block;
}
.context-box_header {
    padding-top: 64px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
/* 更多文章 */
/* .context-box_title */
/* .context-box_link */
/* .context-box_more */
.storys {
    display: flex;
    flex-wrap: wrap;
}
.section-newest .storys .story-list_news {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    /* display: table-cell;
    vertical-align: middle; */
}
.section-newest .storys .story-list_image {
    display: block;
    margin: auto;
}
.section-newest .storys .story-list_text {
    display: inline-block;
}
.section-newest .storys .story-list_title {
    display: block;
    box-sizing: border-box;
}
/*  */
/* 聯合開POD */
/*  */
.pod-content {
    display: block;
}
.container.pod-content_wrapper {
    width: 100%;
    display: block;
}
.context-box_header {
    display: block;
}
.context-box_title {
    display: block;
}
.pod-content_item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}
.pod-content_item .story-list_news {
    display: block;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
}
/* .pod-content_item .story-list_news .story-list_image {
    margin: auto;
} */
.pod-content_item .story-list_news .story-list_text {
    display: block;
}
/* .pod-content_item .story-list_news .story-list_title  */

/*  */
/* 頁尾 */
/*  */
.footer {
    background-color: #cb2528;
    box-sizing: border-box;
    display: block;
    margin-top: 10%;
}
.footer-social {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
/* .btn.btn-social */
.footer-note {
    text-align: center;
    box-sizing: border-box;
    display: block;
}
/* .footer-note_link */
/* .footer-word */