@media (min-width: 300px) {
    html,
    body {
        background-color: #000000;
    }
    img{
        width:30%; 
        height:40%;
        display: block;
        margin:0 auto;
    }    
    h3{
        color:black;
        text-align:center;
    }
    p{
        color:black;
        text-align:center;
    }
}