@media screen and (min-width: 1279px) {
    :root{
        --main-width:1280px;
        --logo-width:15%;
        --tools-box-width:25%;
        --mid-width:50%;
        --right-width:25%;
        --editor-width: calc(100% - 24px);
        --recommended-width:100%;
        --graphic-width:75%;
        --graphic-img-width:60%;
        --graphic-text-width:40%;
    }
    .header, .header .container {
        height: 100px;
    }
    .header .container .menu {
        display: flex;
    }
    .splide01, .splide02, .splide03, .splide04, .splide05,
    .splide06, .splide07, .splide08, .splide09, .splide10 ,
    .splide11, .splide12  {
        margin-left: 12px;
        margin-right: 8px;
    }
    .list-news {
        width: 100%;
        display: flex;
    }
    .mid_text a {
        font-size: 50px;
        bottom: 120px;
    }
    .editor-news {
        margin-top: 16px;
    }
    .editor-news, .recommended-news {       
        padding-left: 24px;
    }
    .editor-news .author-list {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .editor-news .author-list_wrapper {
        margin-right: 4px;
    }
    .recommended-news .story-list_news {
        width: 100%;
        margin-bottom: 0px;
    }
    .menu2, .recommended-news .story-list_news .story-list_image, 
    .newspaper-news_1023, .newspaper-news_768 {
        display: none;
    }
    .news:before {
        background-color: #f5f5f5;
        height: 610px;
    }
    .graphic-news .story-list_text {
        padding-left: 24px;
    }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    :root{
        --main-width:992px;
        --logo-width:15%;
        --tools-box-width:25%;
        --mid-width:50%;
        --right-width:25%;
        --editor-width: calc(100% - 24px);
        --recommended-width:100%;
        --graphic-width:75%;
        --graphic-img-width:60%;
        --graphic-text-width:40%;
    }
    .header, .header .container {
        height: 100px;
    }
    .header .container .menu {
        display: flex;
    }
    .splide01, .splide02, .splide03, .splide04, .splide05,
    .splide06, .splide07, .splide08, .splide09, .splide10 ,
    .splide11, .splide12  {
        margin-left: 12px;
    }
    .list-news {
        width: 100%;
        display: flex;
    }
    .mid_text a {
        font-size: 50px;
        bottom: 120px;
    }
    .menu2, .list-news_left, .newspaper-news_1023, .newspaper-news_768,
    .recommended-news .story-list_news .story-list_image {
        display: none;
    }
    .list-news_mid {
        width: 75%;
    }
    .list-news_right {
        width: 25%;
    }
    .editor-news {
        margin-top: 16px;
    }
    .editor-news, .recommended-news {       
        padding-left: 16px;
    }
    .editor-news .author-list {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .editor-news .author-list_wrapper {
        margin-right: 4px;
    }
    .recommended-news .story-list_news {
        margin-bottom: 0px;
    }
    .news:before {
        background-color: #f5f5f5;
        height: 520px;
    }
    .graphic-news .story-list_text {
        padding-left: 24px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    :root{
        --main-width:736px;
        --header-height:80px;        
        --logo-width:15%;
        --tools-box-width:30%;
        --mid-width:100%;
        --right-width:75%;
        --editor-width:100%;
        --recommended-width:100%;
        --graphic-width:100%;
        --graphic-img-width:60%;
        --graphic-text-width:40%;
    }
    .context-box_header {
        margin-bottom: 16px;
    }
    .header .container {
        height: 80px;
    }
    .header .container .menu {
        display: flex;
    }
    .splide01, .splide02, .splide03, .splide04, .splide05,
    .splide06, .splide07, .splide08, .splide09, .splide10 ,
    .splide11, .splide12  {
        margin-left: 12px;
        word-break: keep-all;
    }
    .tools-box {
        width: 235px;
    }    
    .list-news {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .mid_text a {
        font-size: 50px;
        bottom: 120px;
    }
    .menu2, .list-news_left, .list-news_last, .newspaper-news,
    .newspaper-news_768,.recommended-news .context-box_title {
        display: none;
    }
    .editor-news {
        margin-top: 16px;
    }
    .editor-news, .recommended-news {
        margin-top: 40px;
        padding-left: 0;
        width: 100%;
    }
    .editor-news .author-list {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .editor-news .author-list_wrapper {
        margin-right: 8px;
        justify-content: flex-end;
    }
    .recommended-news .story-list_holder {
        display: flex;
        flex-wrap: wrap;
    }
    .recommended-news .story-list_news {
        width: 50%;
    }
    .recommended-news .story-list_news .story-list_image {
        width: 40%;
    }
    .recommended-news .story-list_news .story-list_image img {
        width: 100%;
    }
    .recommended-news .story-list_news .story-list_text {
        width: calc(60% - 8px);
        padding-left: 8px;
    }
    .newspaper-news_1023 {
        width: 25%;
        margin-top: 16px;
        background-color: transparent;
    }
    .news:before {
        background-color: transparent;
    }
    .graphic-news .story-list_text {
        padding-left: 24px;
    }
}
@media screen and (max-width: 767px) {
    :root{
        --main-width:100%;
        --header-height:60px;
        --logo-width:calc(100% - 200px);
        --tools-box-width:200px;
        --mid-width:100%;
        --right-width:100%;
        --editor-width:calc(75% - 24px);
        --todaynews-width:calc(25% - 12px);
        --recommended-width:100%;
        --graphic-width:100%;
        --graphic-img-width:100%;
        --graphic-text-width:100%;
    }
    .menu, .topphoto, .list-news_left, .list-news_last,.newspaper-news_1023, 
    .newspaper-news, .recommended-news .context-box_header {
        display: none;
    }
    .header .container {
        height: 60px;
    }
    .splide01, .splide02, .splide03, .splide04, .splide05,
    .splide06, .splide07, .splide08, .splide09, .splide10 ,
    .splide11, .splide12  {
        margin-left: 8px;
        margin-right: 4px;
        word-break: keep-all;
    }
    .menu2 {
        height: 52px;
        display: flex;
    }
    .menu2 .navigation {
        word-break: keep-all;
    }
    .menu2 .splide_track {
        overflow: auto;
        word-break: keep-all;
        overflow-y: hidden;
    }
    .list-news_right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mid_text a {
        font-size: 30px;
        bottom: 70px;
    }
    .editor-news {
        margin-top: 24px;
        height: 100%;
    }
    .editor-news, .recommended-news { 
        margin-top: 24px;      
        padding-left: 12px;
        padding-right: 12px;
    }
    .editor-news .author-list {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .newspaper-news_768 {
        width: var(--todaynews-width);
        margin-top: 24px;
        padding-right: 12px;
        height: 100%;
        /* background-color: transparent; */
    }
    .newspaper-news_768 .context-box_title768 {
        word-break: keep-all;
    }
    .recommended-news .story-list_news {
        margin-bottom: 30px;
        flex-direction: row-reverse;
    }
    .recommended-news .story-list_image {
        width: 20%;
    }
    .recommended-news .story-list_text {
        width: 80%;
    }
    .graphic-news .story-list_news {
        flex-direction: column;
    }    
}


body {
    display: flex;
    justify-content: center;
}
.big-container {
    width:var(--main-width);
}
/* context-box_header */
.context-box_header {
    width: 100%;
    height: 39px;
    align-items: center;
    display: flex;
    /* background-color: rgba(190, 180, 180, 0.7); */
}
/* context-box_title */
.context-box_title {
    display: inline-block;
    font-family: "Noto Serif TC",sans-serif;
    margin: 0;
    color: #9e9e9e;
    font-size: 30px;
    margin: 0;
    position: relative;
}


/* img */
img {
    width: 100%;
}

/* topphoto */
.topphoto {
    width:var(--main-width);
    background-color: bisque;
    height: 80px;
}
.topphoto img {
    width: 100%;
    height: 80px;
}
/* main */
.main {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

/* section header */
.header {
    width:var(--main-width);
    height: var(--header-height);
    display: block;
}
.header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .container .logo-wrapper {
    width: var(--logo-width);
    display: flex;
    align-items: center;
}
.header .container .logo-wrapper img {
    width: 100%;
}
.header .container .menu {
    width: calc(100% - var(--logo-width) - var(--tools-box-width));
}
.navigation {
    width: var(--main-width);
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    z-index: -1;
}
.splide_track {
    width: var(--main-width);
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.menu2 .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    z-index: -1;
}
.menu2 .splide_track {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.menu2 .nav-menu {
    width: 50px;
    display: flex;
}
.splide01, .splide02, .splide03, .splide04, .splide05,
.splide06, .splide07, .splide08, .splide09, .splide10 ,
.splide11, .splide12  {
    width: auto;
    height: 27px;
    /* margin-right: 12px; */
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    position: relative;
    align-self: center;
    visibility: visible;
}
.header .container .tools-box {
    width: var(--tools-box-width);
    /* height: 100px; */
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background-color: #cb2528;
}
.tools-box_holder {
    width: 148px;
    height: 32px;
    padding-right: 34px;
    display: flex;
}
.subscriptioin {
    width: 84px;
    height: 32px;
    margin-right: 16px;    
    display: inline-flex;
    justify-content: center;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 24px;    
    align-items: center;
    color: #fff;
}
.tools-box_text {
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
}
.tools-box_item {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    display: inline-flex;    
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 50%;
}

/* section main */
/* .list-news {
    width: 100%;
    display: flex;
} */

/* list-news_left */
.list-news_left {
    width: 25%;
    /* height: 651px; */
    padding-right: 24px;
}
.list-news_left .story-list_firstnews {
    width: 302px;
}
.story-list_firstnews .story-list_image {
    width: 302px;
}
.story-list_firstnews .story-list_text {
    width: 302px;
    height: 108px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.list-news_left .story-list_news {
    width: 302px;
    height: 70px;
    margin-bottom: 0px;
}
.list-news_left .story-list_news .story-list_image {
    width: 302px;
    height: auto;
}
.list-news_left .story-list_news .story-list_text {
    width: 302px;
    height: 70px;
}

/* list-news_mid */
.list-news_mid {
    width:var(--mid-width);
    /* height: 651px; */
    display: flex;
    flex-flow: column wrap;
}
.mid_text {
    height: 0px;
}
.mid_text a {
    width: 100%;
    position: relative;
    font-weight: 900;
    line-height: 1.15;
    margin: 0;
    /* padding-left: 5%; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: white;
    background-image: linear-gradient(180deg, rgba(196, 196, 196, 0), rgba(69, 69, 69, .583) 31.77%, #000);
}
.list-news_center {
    width: 100%;
    /* height: 420px; */
    display: flex;
}
.list-news_center .story-list_text {
    display: flex;
}
.list-news_last {
    width: 100%;
    height: 179px;
    margin-top: 36px;
}
.list-news_last .story-list_news {
    width: 100%;
    height: 179px;
    display: flex;
}
.list-news_last .story-list_image {
    width: 35%;
}
.list-news_last .story-list_text {
    width: 65%;
    padding-left: 16px;
}

/* list-news_right */
.list-news_right {
    width: var(--right-width);
}
.editor-news {
   width: var(--editor-width);
   margin-bottom: 24px; 
}
.editor-news_wrapper {
    width: 100%;
    /* height: 100%; */
}
.editor-news .context-box_header,
.recommended-news .context-box_header {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
}
.editor-news .story-list_holder {
    width: 100%;
    /* height: 95px; */
}
.editor-news .author-list {
    width: 100%;
    display: flex;
}
.editor-news .author-list_image {
    width: 95px;
    height: 95px;
}
.editor-news .author-list_image img {
    border-radius: 50%;
}
.editor-news .author-list_wrapper {
    /* width: 195px; */
    /* height: 81px; */
    display: flex;
    flex-direction: column-reverse;
}
.editor-news .author-list_wrapper .author-list_info {
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 4px;
}
.editor-news .author-list_wrapper .author-list_title {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
}
.recommended-news {
    width: var(--recommended-width);
}
.recommended-news .story-list_holder {
    width: 100%;
    /* height: 257px; */
}
.recommended-news .story-list_news {
    /* width: 100%; */
    /* margin-bottom: 0px; */
    display: flex;
}
.recommended-news .story-list_news .story-list_title {
    width: calc(100% - 24px);
    margin: 0 0 16px;
}
 
/* news */
.news {
    /* width: var(--main-width); */
    width: 100%;
    height: 100%;
    display: flex;
}
.news:before {
    /* background-color: #f5f5f5; */
    content: "";
    left: -10vw;
    width: 110vw;
    position: absolute;
    z-index: -1;
}
/* graphic-news */
.graphic-news {
    width: var(--graphic-width);
    margin-top: 40px;
}
.graphic-news .context-box_header {
    margin-top: 40px;
    margin-bottom: 24px;
}
.graphic-news .story-list_news  {
    width: 100%;
    height: 100%;
    margin-bottom: 42px;
    display: flex;
}
.graphic-news .story-list_image {
    width: var(--graphic-img-width);
}
.graphic-news .story-list_text {
    width: var(--graphic-text-width);
}

/* newspaper-news */
.newspaper-news {
    width: 25%;
    /* height: 100%; */
    /* margin-top: 40px; */
}
.newspaper-news_wrapper, .newspaper-news_wrapper_1023, 
.newspaper-news_wrapper_768 {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newspaper-news .context-box_header, 
.newspaper-news .context-box_header_1023 
, .newspaper-news .context-box_header_768{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 24px;
}
.newspaper-news_image, .newspaper-news_image_1023, 
.newspaper-news_image_768 {
    /* height: 320px; */
    width: 90%;
    margin: auto;
}