/* section-news */
.section-news {
    width: 100%;
    /* height: 822px; */
    margin-top: 40px;
    margin-bottom: 16px;
}
.section-news .context-box_header {
    margin-bottom: 25px;
}
.section-news_wrapper {
    width: 100%;
    height: 371px;
    margin-bottom: 48px;
    display: flex;
}
.section-news_left {
    width: 75%;
    height: 346px;
    padding-bottom: 24px;
    margin-right: 24px;
    display: flex;
}
.section-news_left .story-list_image {
    width: 519px;
    height: 346px;
}
.section-news_left .story-list_text {
    width: 411px;
    height: 346px;
    padding-left: 24px;
}
.section-news_right {
    width: 25%;
    height: 370px;
}
.section-news_right .story-list_image {
    width: 302px;
    height: 202px;
}
.section-news_right .story-list_image img {
    width: 100%;
}
.section-news_right .story-list_text {
    width: 302px;
    height: 126px;
}

/* leader-reader */
.leader-reader {
    width: 100%;
    height: 409px;
    background-color: #f5f5f5;
}
.leader-reader .context-box_header {
    margin-top: 56px;
    margin-bottom: 25px;
}
.leader-reader_wrapper {
    width: 1280px;
    height: 249px;
    margin-bottom: 40px;
}
.splide_list {
    width: 1320px;
    height: 249px;
    display: flex;
}
.leader-reader_box {
    width: 620px;
    height: 249px;
    margin-right: 40px;
    display: flex;
}
.leader-reader_box .author-list {
    width: 193px;
    height: 249px;
}
.leader-reader_box .author-list_image {
    width: 118px;
    height: 118px;
    margin: 0 auto;
}
.leader-reader_box .author-list_image img {
    border-radius: 50%;
}
.leader-reader_box .author-list_wrapper {
    width: 193px;
    height: 112px;
}
.leader-reader_right {
    width: 403px;
    height: 249px;
}
.leader-reader_right .story-list_news {
    width: 403px;
    height: 100px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    display: flex;
}
.leader-reader_right .story-list_image {
    width: 150px;
    height: 100px;
    background-color: gray;
}
.leader-reader_right .story-list_text {
    width: 237px;
    height: 100px;
    padding-left: 16px;
    display: flex;
}
.leader-reader_right .story-list_text .story-list_sub {
    display: block;
}

/* comment */
.comment {
    width: 100%;
    height: 256px;
    margin-bottom: 36px;
}
.comment .context-box_header {
    margin-top: 72px;
    margin-bottom: 25px;
}
.comment_content {
    width: 100%;
    height: 120px;
    display: flex;
}
.comment_content .author-list {
    width: 25%;
    height: 95px;
    padding-bottom: 24px;
    display: flex;
}
.comment_content .author-list_image {
    width: 95px;
    height: 95px;
}
.comment_content .author-list_image img {
    border-radius: 50%;
}
.comment_content .author-list_wrapper {
    width: 201px;
    height: 95px;
    margin-left: 8px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}
.author-list_info {
    display: flex;
}
.author-list_name {
    /* display: inline-block; */
    box-sizing: border-box;
}